#login-header{
    text-align:center;
    margin-top: 5.5%;
    font-weight:bolder;
}
#login-box{
    border: 1px solid black;
    height:300px;
    margin-top:0.5%;
    border-radius: 35px;
    text-align: center;
}

#username{
    margin-top:15%;
    border-radius: 20px;
    height: 50px;
}

#passwowrd{
    border-radius: 20px;
    height: 50px;
}

#sub_btn{
    border-radius: 20px;
    background: #3399ff;
    color: white;
    font-family: 'Crimson Text', serif;
    font-weight: bolder;
    font-size: 20px;
    height: 50px;
}

#sub_btn:hover{
    background: #0099ff;
}